body{
    background-color: aliceblue;
}
.header
{
    background-image: url('https://i.postimg.cc/0yRYhHwy/bgimg-jpg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 66rem;
}
.search{
  margin-top:.3rem;
  margin-left:.3rem;

}
.searchbtn{
    height:2rem;
}


.hearderset{
    padding-top: 15rem;
    box-sizing: border-box;
}
.hearderset h2
{
font-size: 3rem;
}
.hearderset h1
{
font-size: 3.8rem;
font-weight: bold;
}
.about{
    background-color:aliceblue;
}
.aboutme{
    margin-top: 3rem;
}

.aboutsetting{
    margin-top: 8rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.card
{
    display: flex;
    flex-direction: column;
    border-style: outset;
    border-color: brown;
 margin-top: 4rem;
    transition: 0.3s;
   
 
}
.card:hover
{
    box-shadow:  0 .8rem 1.6rem 0 rgb(0,0,0,0.2);
}
.card .h2
{
    padding: 1rem;
    font-weight: bold;
}
.skills
{
    height: 35rem;
    width: 100%;
    padding: 10rem 0rem 5rem;
}
.skills .h1{
    font-weight: bold;
    font size: 5rem ;
}
.projects
{
    height: 35rem;
    width: 100%;
    padding: 10rem 0rem 5rem;
}
.projects .h1{
    font-weight: bold;
    font-size:5rem ;
}


.team
{
    
    height: 30rem;
    padding: 10rem 0rem 6rem;
    width: 100%;

}
.team .h1{
    font-size: 5rem;
    font-weight: bold;
}
.forcontact{
    border-style: outset;
    border-color: brown;
    border-width: .2rem;
}

.contactsetting{
 
    margin-top:4rem !important;
}
.footer{
    margin-top: .2rem;
    height: .3rem;
}

.figure-img{
    border-radius:25px;
    height:250px;
     width:200px;
}
.aboutsetting{
    border-width: 2px;
    border-color: brown;
}
.contactme{
    margin: 3rem auto;
}


@media (min-width:992px){
    .header {
        background-image: url(https://i.postimg.cc/0yRYhHwy/bgimg-jpg.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        width: 100%;
        height:40rem;
    }
    .hearderset {
        padding-top: 15rem;
        box-sizing: border-box;
    }
    .hearderset h2 {
        font-size: 1.5rem;
    }
    .hearderset h1 {
        font-size: 2.8rem;
        font-weight: bold;
    }
    .team {
        height: 25rem;
        padding: 3rem 0rem 6rem;
        width: 100%;
    }
    .skills {
        height: 25rem;
        width: 100%;
        padding: 4rem 0rem 5rem;
    }
    .projects {
        height: 35rem;
        width: 100%;
        padding: 4rem 0rem 5rem;
    }
}
 
@media (min-width:769px) and (max-width:991px){
    .header {
        background-size: 100% 100%;
        background-attachment: fixed;
        width: 100%;
        height: 25rem;
    }
    .hearderset h1 {
        font-size: 2.5rem;
        font-weight: bold;
    }
    .hearderset h2 {
        font-size: 1.8rem;
    }
    .hearderset {
        padding-top: 8rem;
        box-sizing: border-box;
    }
    .skills {
        height: 40rem;
        width: 100%;
        padding: 5rem 0rem 5rem;
    }
    .projects {
        height: 55rem;
        width: 100%;
        padding: 10rem 0rem 5rem;
    }
    .col-md-3 {
        -webkit-box-flex: 0;
       
        flex: 0 0 50%;
        max-width: 33%;
    }
    .team {
        height: 40rem;
        padding: 10rem 0rem 6rem;
        width: 100%;
    }
    .contactme{
        margin: 8rem auto 0.2rem;
    }
    
}
     

@media (min-width:481px) and (max-width:768px){
    .header {
        background-image: url(https://i.postimg.cc/0yRYhHwy/bgimg-jpg.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        width: 100%;
        height: 30rem;
    }
    .hearderset {
        padding-top: 11rem;
        box-sizing: border-box;
    }
    .hearderset h1 {
        font-size: 2.7rem;
        font-weight: bold;
    }
    .hearderset h2 {
        font-size: 2rem;
    }
    .skills {
        height: 45rem;
        width: 100%;
        padding: 5rem 0rem 5rem;
    }
    .col-sm-12 {
        -webkit-box-flex: 0;
       
        flex: 0 0 50%;
        max-width: 100%;
    }
    .projects {
        height: 60rem;
        width: 100%;
        padding: 10rem 0rem 5rem;
    }
    .team {
        height: 40rem;
        padding: 3rem 0rem 6rem;
        width: 100%;
    }
}
@media(max-width:480px){

    .header {
        background-image: url(https://i.postimg.cc/0yRYhHwy/bgimg-jpg.jpg);
        background-size: 100% 100%;
        background-attachment: fixed;
        width: 100%;
        height: 25rem;
    }
    .hearderset h1 {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .hearderset h2 {
        font-size: 1.3rem;
    }
    .hearderset {
        padding-top: 9rem;
        box-sizing: border-box;
    }
    .skills {
        height: 85rem;
        width: 100%;
        padding: 5rem 0rem 5rem;
    }
    .projects {
        height: 103rem;
        width: 100%;
        padding: 10rem 0rem 5rem;
    }
    .team {
        height: 55rem;
        padding: 5rem 0rem 6rem;
        width: 100%;
    }
}